<div class="card pippo">
  <div class="card-divider">
    <h2 class="card-title">
      <%= t("admin.index.title", scope: "decidim.initiatives.csv_census") %>
    </h2>
  </div>
  <div class="card-section">
    <% if @status.count > 0 %>
      <p><%= t("decidim.initiatives.csv_census.admin.index.data", count: @status.count,
        due_date: l(@status.last_import_at, format: :long)) %>
      </p>
      <%= link_to t("decidim.initiatives.csv_census.admin.destroy.title"),
                  destroy_all_initiatives_offline_signatures_path,
        method: :delete,
        class: "button alert",
        data: { confirm: t("decidim.initiatives.csv_census.admin.destroy.confirm") } %>
      <% else %>
        <p><%= t("admin.index.empty", scope: "decidim.initiatives.csv_census") %></p>
    <% end %>
  </div>
</div>

<div class="card">
  <div class="card-divider">
    <h2 class="card-title">
      <%= t("admin.new.title", scope: "decidim.initiatives.csv_census") %>
    </h2>
  </div>
  <div class="card-section">
    <p><%= t("decidim.initiatives.csv_census.admin.new.info") %></p>
    <pre class="code-block">
    user@example.org
    user2@example.org
    ...
    ...

    </pre>
    <a href="<%= '/app/controllers/wsdl/admin--Anagrafe1.3.wsdl' %>">Scarica il modello</a>
    <%= form_tag initiatives_offline_signatures_path, multipart: true, class: "form" do %>
      <%= label_tag :name, t("admin.new.file", scope: "decidim.initiatives.csv_census") %>
      <%= file_field_tag :file %>
      <%= submit_tag t("admin.new.submit", scope: "decidim.initiatives.csv_census"), class: "button" %>
    <% end %>
  </div>
</div>
