<% content_for :secondary_nav do %>
  <div class="secondary-nav secondary-nav--subnav">
    <ul>
      <%# if allowed_to?(:index, :initiative) %>
        <li <% if is_active_link?(decidim_admin_initiatives.initiatives_path) %> class="is-active" <% end %>>
          <%= aria_selected_link_to I18n.t("menu.initiatives", scope: "decidim.admin"), decidim_admin_initiatives.initiatives_path %>
        </li>
      <%# end %>
      <%# if allowed_to?(:manage, :initiative_type) %>
        <li <% if is_active_link?(decidim_admin_initiatives.initiatives_types_path) %> class="is-active" <% end %>>
          <%= aria_selected_link_to I18n.t("menu.initiatives_types", scope: "decidim.admin"), decidim_admin_initiatives.initiatives_types_path %>
        </li>
      <%# end %>
      <%# if allowed_to?(:manage, :initiative_offline_signature) %>

        <li>
          <%= I18n.t("menu.initiatives_offline_signatures", scope: "decidim.admin")  %>
          <ul>
            <li <% if is_active_link?(decidim_admin_initiatives.initiatives_offline_signatures_path) %> class="is-active" <% end %>>
              <%= aria_selected_link_to I18n.t("menu.offline_signatures_upload", scope: "decidim.admin"), decidim_admin_initiatives.initiatives_offline_signatures_path %>
            </li>
          </ul>
        </li>
      <%# end %>
    </ul>
  </div>
<% end %>

<%= render "layouts/decidim/admin/application" do %>
  <div class="process-title">
    <div class="process-title-content">
      <%= link_to t("decidim.admin.titles.initiatives"), decidim_initiatives.initiatives_path, target: "_blank" %>
    </div>
  </div>

  <div class="process-content">
    <%= yield %>
  </div>
<% end %>
